.dashboard {
  min-height: 100vh;
  background: #f4f8fc;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.topbar h1 {
  color: #1565C0;
  margin: 0;
}

.topbar p {
  color: #666;
  margin-top: 5px;
}

.menu-btn {
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 12px;
  background: white;
  font-size: 22px;
  cursor: pointer;
  box-shadow: 0 3px 10px rgba(0,0,0,.08);
}

.wallet-card {
  background: linear-gradient(135deg,#1565C0,#1E88E5);
  color: white;
  padding: 22px;
  border-radius: 20px;
  margin-bottom: 25px;
  box-shadow: 0 10px 25px rgba(21,101,192,.25);
}

.wallet-card h3 {
  margin: 0;
  font-size: 16px;
}

.wallet-card h1 {
  margin: 15px 0;
  color: white;
  font-size: 34px;
}

.wallet-card button {
  background: white;
  color: #1565C0;
  border: none;
  padding: 12px 18px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}

.section-title {
  margin-bottom: 15px;
  color: #333;
}

.service-grid {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 15px;
}

.service-card {
  background: white;
  border-radius: 18px;
  padding: 22px;
  text-align: center;
  cursor: pointer;
  transition: .2s;
  box-shadow: 0 5px 15px rgba(0,0,0,.08);
}

.service-card:hover {
  transform: translateY(-4px);
}

.service-card span {
  font-size: 34px;
}

.service-card h4 {
  margin-top: 10px;
  color: #333;
}

.transactions-card {
  background: white;
  margin-top: 25px;
  border-radius: 18px;
  padding: 20px;
  box-shadow: 0 5px 15px rgba(0,0,0,.08);
}

.transactions-card button {
  margin-top: 10px;
  width: 100%;
  background: #1565C0;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 10px;
  cursor: pointer;
}
